body {
  background-image: url('https://i.pinimg.com/originals/a5/87/72/a58772bf2232a8edbee0d36758ca388e.jpg');
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
{
  background-color: powderblue;
}
h1 {
	color:yellow; font-size: 250%; font-style: italic; text-align: center; background-color:black; 
}
h2{
	color:red; font-size:180%;  padding-left: 120px;
  margin-left: 120px;
}
p {
	font-size:120%;font-family:courier;text-align:left;color:white;
}


h3{
	color:red; text-align: center; background-color: black;
}

p{

}

figure {
  float: right;
  width: 30%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin-right: 10em;
  padding-right: 0.2em;
}